*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  background-color: $gray;
  background-image: url("http://na-sj14.marketo.com/rs/693-SAY-616/images/bg-body.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto auto;
  font-family: $font-verdana  !important;
  font-size: $font-size  !important;
  line-height: $line-height  !important;
}

h1{
  font-size: $font-size--title;
  line-height: 0.75;
}

h2 {
  font-size: $font-size;
  line-height: $line-height;
}

p {
  font-size: $font-size;
  line-height: $line-height;
  color: $gray--dark;
  margin: 25px 0;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}
