$breakpoints: (
  "medium":                     (min-width: 768px),

  "retina":                     (min-resolution: 144dpi) (min-resolution: 1.5dppx),
);

$gray--dark:                     #393939;
$gray:                           #ededef;
$gray--light:                    #a4a6a7;

$blue--dark:                     #000041;
$blue:                           #004a91;

$pink:                           #e2007a;

$green:                          #19a33e;

$font-size:                      14px;
$font-size--title:               24px;

$line-height:                    1.5714;      // 22/14

$font-verdana:                   Verdana, Arial, sans-serif;
