.button {
  display: inline-block;
  padding: 16px 10px;
  // font-size: ;                  // рзамер шрифта
  line-height: 1;
  font-weight: 700;
  // font-family: ;                // семейство шрифта
  text-transform: uppercase;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  // border: ;                     // рамки если есть
  // color: ;                      // цвет текста
  background: transparent;
  outline: none;
}

