// .mktoForm .mktoFieldWrap {
//   width: 100% !important;

//   outline: 10px solid blue;

//   &--required {
//     label {
//       position: relative;
//       padding-left: 15px;

//       &::before {
//         content: "\2731";
//         position: absolute;
//         left: 0;
//         top: 0;
//         color: #000000;
//       }
//     }
//   }

//   label {
//     display: block;
//     padding-top: 0;
//     width: 100%  !important;
//     font-size: $font-size;
//     line-height: $line-height;
//     font-weight: 700;
//     color: #ffffff;
//     margin-bottom: 8px;
//   }

//   .mktoGutter.mktoHasWidth {
//     display: none  !important;
//   }

//   input,
//   select {
//     width: 100%  !important;
//     border: 1px solid #ffffff  !important;
//     background-color: $gray  !important;
//     border-radius: 3px  !important;
//     color: $gray--dark  !important;
//     outline: none  !important;
//     padding: 8px 10px  !important;
//     line-height: 1.5714  !important;
//     font-size: $font-size !important;
//     box-shadow: none  !important;
//   }

//   select {
//     appearance: none;
//     padding-right: 30px  !important;
//     background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017%2011%22%20width%3D%2217%22%20height%3D%2211%22%3E%3Cpath%20fill%3D%22%2320609e%22%20d%3D%22M.202%201.97L1.956.204A.61.61%200%200%201%202.43%200a.61.61%200%200%201%20.47.204L8.5%205.84%2014.1.204A.61.61%200%200%201%2014.57%200a.61.61%200%200%201%20.474.204l1.754%201.766a.618.618%200%200%201%20.202.473.62.62%200%200%201-.202.476l-7.826%207.875A.61.61%200%200%201%208.5%2011a.61.61%200%200%201-.472-.204L.202%202.92A.618.618%200%200%201%200%202.444c0-.203.067-.34.202-.475z%22%2F%3E%3C%2Fsvg%3E%0A")  !important;
//     background-repeat: no-repeat  !important;
//     background-position: right 20px center  !important;
//     background-size: 10px 7px  !important;
//     margin-bottom: 12px  !important;
//   }
// }


.field {

  &--required {
    label {
      position: relative;
      padding-left: 15px;

      &::before {
        content: "\2731";
        position: absolute;
        left: 0;
        top: 0;
        color: #000000;
      }
    }
  }

  &__label {
    display: block;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 8px;
  }

  &__input,
  &__select {
    width: 100%;
    border: 1px solid #ffffff;
    background-color: $gray;
    border-radius: 3px;
    color: $gray--dark;
    outline: none;
    padding: 10px;
  }

  &__select {
    appearance: none;
    padding-right: 30px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017%2011%22%20width%3D%2217%22%20height%3D%2211%22%3E%3Cpath%20fill%3D%22%2320609e%22%20d%3D%22M.202%201.97L1.956.204A.61.61%200%200%201%202.43%200a.61.61%200%200%201%20.47.204L8.5%205.84%2014.1.204A.61.61%200%200%201%2014.57%200a.61.61%200%200%201%20.474.204l1.754%201.766a.618.618%200%200%201%20.202.473.62.62%200%200%201-.202.476l-7.826%207.875A.61.61%200%200%201%208.5%2011a.61.61%200%200%201-.472-.204L.202%202.92A.618.618%200%200%201%200%202.444c0-.203.067-.34.202-.475z%22%2F%3E%3C%2Fsvg%3E%0A");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 10px 7px;
  }
}
