.page-header {
  padding-bottom: 270px;
  background-color: #ffffff;
  background-image: url("http://na-sj14.marketo.com/rs/693-SAY-616/images/bg-header%401x.jpg");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: auto 250px;

  @include respond-to(retina) {
    background-image: url("http://na-sj14.marketo.com/rs/693-SAY-616/images/bg-header%402x.jpg");
  }

  @include respond-to(medium) {
    padding-left: 30px;
    padding-right: 30px;
  }
}
